+actionLog()
+modalBuilder()
+contextMenu()

</div>

script.

    $(function() {
        var activeContext = initContextMenu()
        initModals()
        initUploadForm()
        initHoldDeleteButton()
        initTooltips()
        initErrorResponse()
        initCopyURL()
        initHTMLPreview()
        initErrorCounter()
    });

include ../scripts/variables
include ../scripts/pdfs
include ../scripts/modals
include ../scripts/listeners
include ../scripts/functions
include ../scripts/contextMenu
include ../scripts/uploadForm