button.btn.btn-secondary(type='button', id='prevPage')
    i.fas.fa-backward
span#pageNumber Page <span id="pageNum">1</span> of <span id="pageCount">1</span>
button.btn.btn-secondary(type='button', id='nextPage')
    i.fas.fa-forward