span#modal-pdf-controls
    button.btn.btn-sm.btn-secondary(type='button', id='modal-pdf-prev')
        i.fas.fa-backward
    span#pageNumber Page <span id="pdf-page-number">1</span> of <span id="pdf-page-count">1</span>
    button.btn.btn-sm.btn-secondary(type='button', id='modal-pdf-next')
        i.fas.fa-forward