include partials/header

h1 Add New Page

form(action='/pages', method='POST')
  +formInput('title', 'text', 'Title', '', true)

  // Use formSelect mixin for the category dropdown
  +formSelect('category', 'Category', gameSystems.map(gs => gs.name), '')

  +formTextarea('content', 'Content', '')

  button.btn.btn-primary(type='submit') Save

include partials/footer
