include partials/header

h1 Edit Image

form(action=`/images/edit/${image._id}`, method='POST')
  +formInput('name', 'text', 'Image Name', image.name)
  +formTextarea('description', 'Description', image.description)
  +formInput('owner', 'text', 'Owner', image.owner)
  +formSelect('category', 'Category', gameSystems.map(gs => ({ value: gs._id.toString(), text: gs.name })), image.category ? image.category.toString() : '')
  +formButton('Save Changes', 'submit', 'btn-success pull-right', 'save')

form(action=`/images/delete/${image._id}`, method='POST')
  +formButton('Delete', 'submit', 'btn-danger pull-right', 'trash-alt', 'holdDeleteBtn')(onclick='return confirm("Are you sure you want to delete this image?");')

include partials/footer