include partials/header

h1= page ? 'Edit Page' : 'New Page'

form(action= page ? `/pages/edit/${page._id}` : '/pages', method='POST')
  +formInput('title', 'text', 'Title', page ? page.title : '', true)
  +formSelect('category', 'Category', gameSystems.map(gs => gs.name), page ? page.category : '')
  +formTextarea('content', 'Content', page ? page.content : '')

  button.btn.btn-primary(type='submit') Save

include partials/footer
