include partials/header

h1 Game Systems

+iframeModalButton('/game-systems/add', 'lg')

if gameSystems.length
  ul.list-group
    each gameSystem in gameSystems
      li.list-group-item
        a(href=`/game-systems/edit/${gameSystem._id}`) #{gameSystem.name}
        span.text-muted &mdash; #{gameSystem.description}
else
  p No game systems found.

include partials/footer