include partials/header

h1 Pages
ul
  each page in pages
    li
      - let url = `${page._id}`
      if page.query
        - url = `${page._id}?${page.query}`
      a(href=`/page/${url}`)=page.title

include partials/footer
