include partials/header

h1 Login

form(action='/login', method='POST')
  .form-group
    label(for='username') Username:
    input.form-control(type='text', id='username', name='username', required)
  .form-group
    label(for='password') Password:
    input.form-control(type='password', id='password', name='password', required)
  .form-group
    if error.length
      each err in error
        #login-response.danger=err
  .form-group
    +formButton('Login', 'submit', 'btn-success', 'right-to-bracket')

include partials/footer
