include partials/header

.row
  .col-md-4
  .col-md-4
    h4 Login
    form(action='/login', method='POST')
      .form-group
        +formInput('username', 'text', 'Username', '', true)
      .form-group
        +formInput('password', 'password', 'Password', '', true)
      .form-group
        a(href='./register')='Register'
        span=' | '
        a(href='./')='Recover password'
        +formButton('Login', 'submit', 'btn-success pull-right', 'right-to-bracket')(onclick='floatingMessage("Logging in...")')
        hr
        if error
          #login-response.pull-right.danger(style='display: none;')=error

include partials/footer
