include partials/header

div.pull-right
    if user && user.role === 'admin'
        a(href=`/pages/edit/${page._id}`)
         +formButton('Edit', 'submit', 'btn-primary pull-right', 'edit')

h2= page.title

if page.category
  span.text-muted Category: #{page.category.name}

div.content
  != page.content

block content

include partials/footer