include partials/header

if user && user.role === 'admin'
  button.btn.btn-primary.pull-right(data-toggle='modal', data-target='#iframeModal', data-src=`/pages/edit/${page._id}` data-size='xl')
    i(class=`fas fa-edit`)

span.text-muted #{page.category.name} / #{page.title}

div.content
  != page.content

  block content

include partials/footer