include partials/header

.row
  .col-md-4
  .col-md-4
    h4 Register
    form(action='/register', method='POST')
      div.form-group
        +formInput('username', 'text', 'Username', '', true)
      div.form-group
        +formInput('password', 'password', 'Password', '', true)
      div.form-group
        +formInput('email', 'text', 'Email', '', true)
      div.form-group
        a(href='./login')='Login'
        +formButton('Login', 'submit', 'btn-success pull-right', 'right-to-bracket')
        hr
        if error
          div#login-response.danger.hidden(style='font-size: smaller;')=error

include partials/footer
