include partials/header

h1 Template List

button.btn.btn-success.pull-right(data-toggle='modal', data-target='#iframeModal', data-src='/templates/add' data-size='lg')
  i(class=`fas fa-plus`)

if templates.length
  ul.list-group
    each template in templates
      li.list-group-item
        a(href=`/templates/edit/${template._id}`) #{template.name}
        span.text-muted &mdash; #{template.description}
else
  p No templates found.

include partials/footer
