include partials/header

form(action='/upload', method='POST', enctype='multipart/form-data')
  .form-group
    label(for='image') Drop file here to upload
    input.form-control-file(class='file-lg' type='file', name='image', accept='image/*')
  +formButton('Upload', 'submit', 'btn-success', 'upload')

if error
  div.alert.alert-danger= error

if success
  div.alert.alert-success= success

include partials/footer
