include partials/header

form(action='/upload', method='POST', enctype='multipart/form-data')
  .form-group
    .custom-file-input-container
      label(for='image') Upload File
      input#image.form-control(type='file', name='image', accept='image/*' height='100px')
      span#file-chosen
  +formButton('Upload', 'submit', 'btn-success', 'upload')

if error
  div.alert.alert-danger= error

if success
  div.alert.alert-success= success

include partials/footer
