extends ../page

block content
  if warmTerrain
    div.button-bar
      table
        tr
          td.divider
            +simpleButton({ title: `${warmArmy.armyRule}`, type: 'gold', icon: 'star' }, undefined)
          each terrain in warmTerrain
            if terrain.access.length
              td
                +simpleButton({ title: `<p>${terrain.name}</p><p>${terrain.description}</p>`, type: 'info', icon: terrain.icon, name: terrain.name }, undefined, terrain.name, `highlightRowById(${JSON.stringify(terrain.access)}, this)`)
          td.divider
            +simpleButton({ title: 'Clear Filter', type: 'danger', icon: 'cancel' }, 'highlightRowById("Clear")', 'Clear')
          td.divider
            span(class='dynamic-active-filter')
          td
            +simpleButton({ id:'unit-count-total', title: 'Toggle Add and Remove Unit', type: 'info', icon: 'rectangle-list' }, 'toggleQuickList()', '')
          td
            +simpleButton({ title: 'Toggle Selected Units', type: 'info', icon: 'eye-low-vision' }, 'toggleQuickListUnits()', '')
  if warmUnits
    +warmasterUnits({}, [
      { name: 'Name',    format: 'string', context: 'warmaster' },
      { name: 'Type',    format: 'string', context: 'warmaster' },
      { name: 'Move',    format: 'number', context: 'warmaster' },
      { name: 'Attacks', format: 'number', context: 'warmaster' },
      { name: 'Hits',    format: 'number', context: 'warmaster' },
      { name: 'Armour',  format: 'number', context: 'warmaster' },
      { name: 'Command', format: 'number', context: 'warmaster' },
      { name: 'Size',    format: 'number', context: 'warmaster' },
      { name: 'Points',  format: 'number', context: 'warmaster' },
      { name: 'Min/Max', format: 'center', context: 'warmaster' },
      { name: 'Rules',   format: 'string', context: 'warmaster' },
      { name: ' ',       format: 'string', context: 'warmaster' }
    ], warmUnits)