extends ../page

block content
  if warmTerrain
    div.button-bar
      table
        tr
          td.divider
            +simpleButton({ title: `${warmArmy.armyRule}`, type: 'gold', icon: 'star' }, undefined)
          each terrain in warmTerrain
            if terrain.access.length
              td
                +simpleButton({ title: `<p>${terrain.name}</p><p>${terrain.description}</p>`, type: 'success', icon: terrain.icon }, undefined, terrain.name, `highlightRowById(${JSON.stringify(terrain.access)}, this)`)
          td
            +simpleButton({ title: 'Clear Filter', type: 'danger', icon: 'cancel' }, 'highlightRowById("Clear")', 'Clear')
          
  if warmUnits
    +warmasterUnits({}, [ { name: 'Name' }, { name: 'Type' }, { name: 'Move' }, { name: 'Attacks' }, { name: 'Hits' }, { name: 'Armour' }, { name: 'Command' }, { name: 'Size' }, { name: 'Points' }, { name: 'Min/Max' }, { name: 'Rules' } ], warmUnits)