script.

    const pageReload  = () => location.reload()
    const pageBack    = () => history.back()
    const pageForward = () => history.forward()

    const initHoldDeleteButton = () => {
        var holdDeleteBtn = document.getElementById('hold-delete-button');
        if (holdDeleteBtn) {
            var editForm = document.getElementById('hold-delete-form');
            var holdTimeout;
            holdDeleteBtn.addEventListener('mousedown', function(event) {
                var speed = 500

                $(holdDeleteBtn).css('transform', 'scale(1.20)')

                holdTimeout = setTimeout(function() {
                    $(holdDeleteBtn).css('transform', 'scale(1)')
                    $('#hold-delete-confirm').show(200)

                    setTimeout(function() { $('#hold-delete-confirm').hide(200) }, 5000)

                    $('#hold-delete-confirm').on('click', () => {
                        console.log('confirm clicked')
                        editForm.submit();
                    })
                }, speed);
            });

            holdDeleteBtn.addEventListener('mouseup',    function(event) {
                $(holdDeleteBtn).css('transform', 'scale(1)')
                clearTimeout(holdTimeout); });
            holdDeleteBtn.addEventListener('mouseleave', function(event) {
                $(holdDeleteBtn).css('transform', 'scale(1)')
                clearTimeout(holdTimeout); });
        }
    }

    const highlightRowById = (types, button) => {
        console.log(types)
        console.log(button)

        $('.dynamic-row').addClass('darken');
        if (types == 'Clear') {
            $(`.dynamic-row`).removeClass('darken');
            $(`.dynamic-icon`).hide();
        } else {
            $(this).addClass('focused')
            $(`.dynamic-icon`).hide();
            types.forEach((type) => {
                console.log(type)
                $(`.unitType${type.unitType.name}`).removeClass('darken');
                if (type.cross)     $(`.cross${type.unitType.name}`).show();
                if (type.defended)  $(`.defended${type.unitType.name}`).show();
                if (type.fortified) $(`.fortified${type.unitType.name}`).show();
            })
        }
    }